
.import-form {
    margin: 1rem;
    padding: 1rem;
    width: 100vh;
    height: 50vh;
}

.import-input {
    width: 100%;
    height: 40%;
    resize:none;
    align-items: baseline;
    text-wrap-mode:wrap;
}